{{!< default}}
{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
<header class="m-b-2">

	{{> 'navbar'}}

  <div class="jumbotron jumbotron-fluid jumbotron-cover bg-inverse">
    {{#if cover}}<div class="cover-bg" style="background-image: url({{cover}})"></div>{{/if}}
    <div class="container text-xs-center">
      {{#if image}}
        <a href="{{url}}" title="{{name}}'s Posts" class=""><img class="img-circle img-thumbnail m-b-2" alt="{{name}}" src="{{image}}" width="92"></a>
      {{/if}}
		<h1 class="">{{name}}</h1>

		<p><i class="icon-stats-bars"></i> <strong>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</strong> {{#if location}}• <i class="icon-location"></i> {{location}}{{/if}} {{#if website}}• <i class="icon-link"></i> <a href="{{website}}">{{website}}</a>{{/if}}</p>

		{{#if bio}}
	    <p class="lead m-b-0">{{bio}}</p>
	    {{/if}}

    </div>
  </div>

</header>
{{/author}}

<main class="container" role="main">

  {{#is "paged"}}
  <section class="row">
    <div class="col-xs-12">
      {{pagination}}
      <hr class="m-y-2">
    </div>
  </section>
  {{/is}}

  <section class="row">
    <div class="col-xs-12">
      {{> "loop"}}
    </div>
  </section>

  <section class="row">
    <div class="col-xs-12">
      <hr class="m-b-2 m-t-0">
      {{pagination}}

    </div>
  </section>

</main>
