<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/assets/dist/img/apple-touch-icon.png">
    <link rel="icon" href="/assets/dist/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}">

    {{ghost_head}}

  </head>

  <body class="{{body_class}}">

    {{! OffSet Navigation }}
    {{navigation}}
    <div class="nav-overlay offsetMenu" id="navOverlay"></div>

    <main class="mbs-cover">

        <div class="container cover-inner">

            <div class="text-xs-center fadeIn animated">
                <h1 class="display-4 font-weight-bold text-danger">
                    <i class="icon-blocked"></i> Page Not Found!
                </h1>
                <p class="lead">The page you are looking for was moved, removed, renamed or might never existed.</p>

                <a href="/" title="Home" class="btn btn-lg btn-outline-danger m-t-2">
                    <i class="icon-menu"></i> Back to Home
                </a>
            </div>

        </div>
    </main>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

  </body>
</html>
